<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Person List</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="shodAddItemModal()">
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">First Name</th>
          <th class="text-center">Last Name</th>
          <th class="text-center">Email</th>
          <th class="text-center">Actions</th>
        </tr>
        <tr>
          <td>
            <span contenteditable="true">John</span>
          </td>
          <td>
            <span contenteditable="true">Snow</span>
          </td>
          <td>
            <span contenteditable="true">123@gmail.com</span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0"
                      (click)="removePerson(1)"
              >Remove</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<app-add-item-modal (createPerson)="createPerson($event)"></app-add-item-modal>
